
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.heroImg {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}